body{
    background-color: aliceblue;
}

.main{
    background-color: grey;
    width: 75%;
    margin: auto;
    min-height: auto; 
}

.book-content {
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
    vertical-align: top;
}

th, td {
    padding: 15px;
}

#mainHeader{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#navigation{
    background-color: lightgray;
    float: left;
    width: 100px;
    height: 175px;
}