/* Navigation ------------------------- */
/* Navigation code for ul li was taken from W3Schools  https://www.w3schools.com/css/css_navbar_vertical.asp 
and did navigation and active myself*/
#navigation{
    background-color: lightgray;
    color: white;
    float: left;
    width: 200px;
    max-height: 300px;
    overflow: hidden;
    background-color: #333;
    display: block;
    margin-right: 25px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}
  
li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
  
/* Change the link color on hover */
li a:hover {
    background-color: rgb(90, 90, 90);
    color: white;
}

.active {
    background-color: rgb(53, 141, 1);
}
/*-----------------------------------*/
/* Title and Log in ---------------- */
#titleText{
    position: absolute;
    top: 30px;
    left: 300px;
    font-weight: bold;
    color: white;
    background-color: black;
    opacity: 0.75;
    padding: 25px;
}
/*-----------------------------------*/
/*-Table Listing and Books-----------*/
table{
    margin-right: auto;
     margin-left: 350px;
    margin-left: auto;
    /* border: solid; */
    text-align: center;

}

thead {
    color: white;
    border-color: black;
    background-color: black;
}

tfoot {
    color: white;
    background-color: black;
}

tbody{
    border: solid;
    /* color: white; */
    background-color: rgb(160, 160, 160);
}

th{
    padding: 15px;
    /* border: solid; */
    min-width: 250px;
    max-height: 200px;
    
}

#mainHeader{
    text-align: center;
    /* margin-left: auto;
    margin-right: auto; */
}

.bookPic{
    width: 125px;
    height: 150px;
}
/*-----------------------------------*/
/*-Overall Main Body-----------------*/
body{
    background-color: rgb(43, 43, 43);
    /* background-color: aqua; */
    font-family: Arial, Helvetica, sans-serif;
}

.main{
    background-color: rgb(218, 218, 218);
    width: 75%;
    margin: auto;
    min-height: 500px; 
    padding: 25px;
}

.book-content {
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
    vertical-align: top;
}
/*-----------------------------------*/

/* This is for review ---------------*/
#bookInfo{
    float: right;
    margin: auto;
    width: 500px;
    text-align: left;
    margin-right: 80px;
}
.leaveReview{
    margin: auto;
    /* float: left; */
    /* text-align: left; */
}
/*-----------------------------------*/